<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs',{ pageTitle: 'Products'} ) %> 
    <body>
        <%- include('../partials/header.ejs') %>
        <main>
            <div class="main-container">
                <div class="banner">
                    <img src="/img/banner1.jpeg" alt="banner">
                </div>
                <div class="products-container">
                        <% products.forEach(function(product){ %>
                        <div class="card">
                                <div class="product-img">
                                    <a href="/products/<%= product.id %>"><img src="../img/products/<%= product.img %>" alt="product"></a>
                                </div>
                            <div class="description">
                                <h4><%= product.name %></h4>
                                <p>$<%=product.price %></p>
                                <a href="/products/<%= product.id %>">Ver más</a>
                            </div>
                        </div>
                        <% }) %>
                </div>
            </div>
        </main>
        
        <%- include('../partials/footer.ejs') %>
    </body>
</html>
